@page "/"
@using RM.App.Services
@using RM.Base

<PageTitle>Repository List</PageTitle>

<ul>
    @foreach (var folder in Services.Hub.Folders.GetAll()) {
        foreach (var repo in folder.Repos.OrderBy(r => r.Name)) {
            <li class="@(repo.IsMainUpToDate ? "repo-uptodate" : "repo-outdated")">@repo.Name</li>
        }
    }
</ul>

@code {
    protected override void OnInitialized() {
        Hub.OnAutoRefresherStateChanged += Update;
        Logger.Info("OnInitialized on HomePage called");
    }

    private void Update() {
        StateHasChanged();
        Logger.Info("Update on Home called");
    }


}
