@page "/Settings"
@using RM.App.Helpers
@using RM.App.Services
@using RM.Base
@using RM.Core
<div class="d-flex justify-content-between align-items-center">
  <h5 class="d-inline-block me-2">Watch List</h5>
  <button class="btn btn-primary align-top" style="vertical-align: top;" @onclick="AddFolder">Add Folder</button>
</div>
@foreach (var folder in Hub.Folders.GetFolderPaths()) {
  <div class="d-flex align-items-center mb-2">
    <button class="btn btn-outline-danger btn-sm align-top p-1 d-flex align-items-center me-2" style="vertical-align: middle; line-height: 1;"
            @onclick="() => RemoveFolder(folder)">X
    </button>
    <span>@folder</span>
  </div>
}

<hr/>
<div class="d-flex justify-content-between align-items-center">
  <h5 class="d-inline-block me-2">Debug</h5>
  <button class="btn btn-primary align-top" style="vertical-align: top;" @onclick="OpenLog">Open Log</button>
</div>
<div class="form-check mb-2">
  <input class="form-check-input" type="checkbox" id="logActive" @bind="Hub.Settings.LogToFile"/>
  <label class="form-check-label" for="logActive">
    Logging active
  </label>
</div>
<div class="mb-3">
  <label for="logLevel" class="form-label">Log Level</label>
  <select id="logLevel" class="form-select" @bind="Hub.Settings.LogLevel" disabled="@(Hub.Settings.LogToFile == false)">
    @foreach (var level in Enum.GetValues<LogLevel>()) {
      <option value="@level">@level</option>
    }
  </select>
</div>




@code {
  protected override void OnInitialized() {
    base.OnInitialized();
    Logger.Info("OnInitialized on SettingsPage called");
  }

  private async Task AddFolder() {
    var folders = await WindowManager.MainWindow?.ShowOpenFolderAsync(title: "Select folder", multiSelect: false)!;
    if (folders.Length == 0) return;
    var folder = folders[0];
    if (!string.IsNullOrEmpty(folder) && Hub.Settings.Folders.All(f => f != folder)) {
      Logger.Info($"Adding folder: {folder}");
      Hub.AddFolder(folder);
    }
  }

  private void RemoveFolder(string path) {
    Hub.RemoveFolder(path);
  }

  private static void OpenLog() {
    Logger.Info("Opening log file");
    Logger.OpenLogFile();
  }
}
